.logo-img img {
    width: 158px;
    object-fit: contain;
    position: relative;
    left: 10px;
}
.navbar-bg {
    background: #7e0b0b;
}
.navbar-ul a{
    color:ffff;
}
.btn-login {
    background: var(--log-button);
    color: #7e0b0b;
    font-size: 14px;
    text-transform: capitalize;
    padding: 4px 10px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 3px;
    margin-left: 0;
    background: white;
}
.scroll {
   
  }
  .navbar-nav li{
    display: inline-block;
  }
  .topnav {
    padding: 0;
    height: 42px;
    /* background: linear-gradient(180deg, #5f7fdb 0, #0cddff 100%); */
    background: #1f43ae;
}
.topnav-div{
    white-space: nowrap;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
}

.topnav-div ul li a {
    color: #fff !important;
    /* font-size: 12px; */
    padding: 6px 23px;
    display: inline-block;
    border-right: 1px solid rgb(237 235 234 / 20%);
    list-style: none;
    text-transform: capitalize;
    /* font-weight: 700; */
    position: relative;
}